*{
    font-family: Nunito sans;
}

.align-left {
    text-align: left;
}
.text-white {
    color: white!important;
}
.text-center {
    text-align: center;
}
.text-icon {
    color: rgba(58, 61, 66, 0.8);;
}
.fw-bold {
    font-weight: bold;
}
.fw-light {
    font-weight: lighter;
}
.brand-name {
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
}
.float-right {
    float: right;
}
.btn {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.btn-primary {
    color: #fff;
    background-color: #6379f4;
}
.text-primary {
    color: #6379f4;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
}
.shadow {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.fw-normal {
    font-weight: normal;
}
.fw-600 {
    font-weight: 600;
}
.number-bottom {
    margin-right: 30px;
}