*{
    font-family: Nunito sans;
}

.align-left {
    text-align: left;
}
.text-white {
    color: white!important;
}
.text-center {
    text-align: center;
}
.brand-name {
    font-family: Nunito Sans;
    font-weight: bold;
    font-size: 29px;
    line-height: 40px;
}
.float-right {
    float: right;
}
.btn {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 12px;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
}
.btn-primary {
    color: #fff;
    background-color: #6379f4;
}
.text-primary {
    color: #6379f4;
}